// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// CSS personalizzato

/* variabili di root */
:root {
    --prova-dark: #2E3532;
    --prova-vanilla: #EADAA2;
    --prova1: #8B2635;
    --prova2: #C6A664;
    --button-item-color: #0282F9;
    --footer-color: #303030;
    --body-background: #1C1C1C;
    --cards-text: #FCF3EA;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

/* Classe di debug */
.debug {
    // border: 1px solid var(--prova1);
    border: 1px solid red;
}

/* Classe fluida per le immagini */
img {
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    background-color: var(--body-background);
}

/* ------------------ NavBar dell'header.blade.php ------------------ */
.height-menu {
    background-color: white !important;
    height: 105px;
    padding: 0 15px;
}

.height-nav-menu {
    height: 100%;
}

.nav-link {
    padding: 0 !important;
    line-height: 100px;
}

.nav-link.active {
    color: var(--button-item-color) !important;
}

.nav-item {
    padding: 0 15px;
}

li.nav-item a {
    text-transform: uppercase;
}

.nav-item a:hover {
    border-bottom: 5px solid var(--button-item-color);
    color: var(--button-item-color);
    font-weight: bold;
}

#navbarNav,
.navbar-toggler {
    background-color: white;
    z-index: 5000;
    // height: 1000px;
}

// Aggiungendo un pò di margin e padding evito che al click sul pulsante hamburger menu, quest'ultimo e il logo si spostino verso l'alto dalla loro posizione originale
.navbar-brand {
    margin: 15;
    padding: 15;
}

/* Media query sul click al pulsante hamburger menu quando il menu è collassato (su schermi piccoli) sotto i 992px, lascio che si adatti automaticamente */
@media (max-width: 991px) {
    .height-nav-menu {
        margin-top: -10px;
        height: auto !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-item a:hover {
        // margin-top: 5px;
        border-bottom: 0px solid var(--button-item-color);
        color: var(--button-item-color);
        font-weight: bold;
    }

    .dc-image {
        position: static !important;
    }

    button.jumbo-button {
        position: absolute;
        bottom: -20px; // posizionamento dal basso rispetto al genitore relative
        left: calc(100vw - 90vw); // posizionamento da sinistra rispetto al genitore relative calcolato con le viewport width
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        padding: 6px 10px;
        background-color: var(--button-item-color);
        border: none;
    }
}

@media (max-width: 768px) {

    .footer-up-ul-class li span {
        font-size: 8px !important;
    }
}

@media (max-width: 576px) {
    .button-footer-down {
        font-size: 10px !important;
        font-weight: bold;
        margin: 10px 0 !important;
        padding: 3px 3px !important;
        background-color: transparent;
        border: 3px solid var(--button-item-color);
    }

    ul.button-footer-social li {
        padding: 1px !important;
        margin: 1px !important;
        font-size: 10px !important;
        cursor: pointer;
    }

    .footer-up-ul-class li img {
        width: 25px !important;
        height: 25px !important;
    }

    .footer-up-ul-class {
        flex-wrap: wrap;
    }

    .footer-up-ul-class li span {
        margin: 0;
    }
}

/* ------------------ Fine NavBar dell'header.blade.php ------------------ */


/* ------------------ Sezione footer del file footer.blade.php ------------------ */
footer {
    height: auto;
    background-image: url("/resources/img/footer-bg.jpg");
    opacity: 0.95;
    // height: 500px;
    background-repeat: round;
}

footer .container .row {
    color: white;
}

footer ul li {
    list-style-type: none;
    color: #959595;
}

footer ul li a {
    text-decoration: none;
    color: #959595;
}

footer ul li a:hover {
    color: white;
}

footer .container .row p {
    margin-top: 50px;
    font-size: 20px;
    text-transform: uppercase;
}

ul {
    padding: 0;
}

footer .container .row .col p {
    text-transform: uppercase;
}

.container-dc-image {
    position: relative;
    max-width: auto;
    max-height: auto;
}

.dc-image {
    position: absolute;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: -100;
}

.container-footer-up {
    padding: 0 30px;
}

.footer-up {
    background-color: var(--button-item-color);
    height: 110px;
}



/* ------------------ Sezione footer up  del file footer.blade.php (la banda azzurra all'inizio del footer ------------------ */

.footer-up-ul-class {
    margin: 0px;
    text-align: center;
}

.footer-up-ul-class li {
    cursor: pointer;
}

.footer-up-ul-class li:hover {
    opacity: 0.5;

}

.footer-up-ul-class li img {
    max-width: 50px;
    max-height: 50px;
}

.footer-up-ul-class li span {
    margin: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    // margin-left: 5px;
}

/* ------------------ Fine sezione footer up  del file footer.blade.php (la banda azzurra all'inizio del footer ------------------ */



/* ------------ Sezione footer dowm del file footer.blade.php (l'ultima banda, quella con il pulsante a destra e le icone social a sinistra ------------ */

.footer-down {
    background-color: var(--footer-color);
    height: 100px;
}

.button-footer-down {
    text-transform: uppercase;
    color: white;
    font-size: 16;
    font-weight: bold;
    margin: 30px 0;
    padding: 10px 20px;
    background-color: transparent;
    border: 3px solid var(--button-item-color);
}

.button-footer-down:hover {
    opacity: 0.5;
    color: var(--button-item-color);
}

.button-footer-social {
    text-transform: uppercase;
    color: var(--button-item-color);
    padding: 10 30;
    margin: 0;
}

ul.button-footer-social li {
    padding: 10px;
    text-align: center;
    color: var(--button-item-color);
    font-size: 16;
    cursor: pointer;
}

ul.button-footer-social li:hover {
    opacity: 0.5;
}

/* ---------- Fine sezione footer dowm del file footer.blade.php (l'ultima banda, quella con il pulsante a destra e le icone social a sinistra ---------- */



/* ---------- Sezione personalizzazione card dei comics ---------- */

.card {
    border-radius: 0px;
    border: none;
    overflow: hidden;
    background-color: var(--body-background);
    /* Nasconde qualsiasi parte dell'immagine che esce dai limiti della card */
}

.card-img-top {
    border-radius: 0px;
    width: 100%;
    height: 200px;
    /* Altezza fissa per uniformare le immagini */
    object-fit: cover;
    /* Garantisce che l'immagine copra tutta la zona senza distorsioni */
    object-position: top;
    /* L'immagine parte dall'alto se ha bisogno di essere ritagliata */
    cursor: pointer;
}

.card-img-top:hover {
    opacity: 0.5;
}

.card-body {
    background-color: var(--body-background);
    padding: 20 0;
}

.card-title {
    color: var(--cards-text);
    font-size: 14px;
    cursor: pointer;
}

.card-button {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 50px;
    background-color: var(--button-item-color);
    border: none;
}

.card-button:hover {
    opacity: 0.5;
}

/* ---------- CSS Single Card ---------- */
.single-card {
    border-radius: 0px;
    width: 100%;
    height: 40vh;
    /* Altezza fissa per uniformare le immagini */
    object-fit: contain;
    /* Garantisce che l'immagine copra tutta la zona senza distorsioni */
    object-position: top;
}

/* ---------- Fine CSS Single Card ---------- */

/* ---------- Fine sezione personalizzazione card dei comics ---------- */



/* ---------- Sezione Personalizzazione Jumbotron ---------- */

/* NON USATO PERCHE' INSERITO COME CSS INLINE NEL COMPONENTE JUMBOTRON */

// .jumbo {
//     height: 300px !important;
//     object-position: top !important;
// }

.jumbo-background {
    position: relative;
}

.jumbo-button {
    position: absolute;
    bottom: -20px; // posizionamento dal basso rispetto al genitore relative
    left: calc(100vw - 85vw); // posizionamento da sinistra rispetto al genitore relative calcolato con le viewport width

    // INVECE DI RENDERLO ABSOLUTE LUI E L'IMMAGINE JUMBOTRON RELATIVE, AVREI POTUTO INSERIRE LA RIGA DI CODICE DI SEGUITO:
 // transform: translateY(-50%); // che dice di spostare nell'asse y del 50% in meno dalla sua posizione
    // E POI CANCELLARE LE 3 RIGHE DI CODICE DI SOPRA:
    // position: absolute;
    // bottom: -20px; // posizionamento dal basso rispetto al genitore relative
    // left: calc(100vw - 85vw); // posizionamento da sinistra rispetto al genitore relative calcolato con le viewport width

    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 20px;
    background-color: var(--button-item-color);
    border: none;
}

.jumbo-button a {
    text-decoration: none;
    color: white;
}

.jumbo-button a:hover {
    opacity: 0.5;
}