// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// CSS personalizzato

/* variabili di root */
:root {
    --prova-dark: #2E3532;
    --prova-vanilla: #EADAA2;
    --prova1: #8B2635;
    --prova2: #C6A664;
    --button-item-color: #0282F9;
    --footer-color: #303030;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

/* Classe di debug */
.debug {
    // border: 1px solid var(--prova1);
    border: 1px solid red;
}

/* Classe fluida per le immagini */
img {
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/* ------------------ NavBar dell'header.blade.php ------------------ */
.height-menu {
    background-color: white !important;
    height: 100px;
    padding: 0 15px;
}

.height-nav-menu {
    height: 100%;
}

.nav-link {
    padding: 0 !important;
    line-height: 100px;
}

.nav-link.active {
    color: var(--button-item-color) !important;
}

.nav-item {
    padding: 0 15px;
}

li.nav-item a {
    text-transform: uppercase;
}

.nav-item a:hover {
    border-bottom: 5px solid var(--button-item-color);
    color: var(--button-item-color);
    font-weight: bold;
}

#navbarNav,
.navbar-toggler {
    background-color: white;
    z-index: 5000;
    // height: 1000px;
}

// Aggiungendo un pò di margin e padding evito che al click sul pulsante hamburger menu, quest'ultimo e il logo si spostino verso l'alto dalla loro posizione originale
.navbar-brand {
    margin: 15;
    padding: 15;
}

/* Media query sul click al pulsante hamburger menu quando il menu è collassato (su schermi piccoli) sotto i 992px, lascio che si adatti automaticamente */
@media (max-width: 991px) {
    .height-nav-menu {
        margin-top: -10px;
        height: auto !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-item a:hover {
        margin-top: 5px;
        border-bottom: 5px solid var(--button-item-color);
        color: var(--button-item-color);
        font-weight: bold;
    }

    .dc-image {
        position: static !important;
    }
}

@media (max-width: 576px) {
    .button-footer-down {
        font-size: 10px !important;
        font-weight: bold;
        margin: 10px 0 !important;
        padding: 3px 3px !important;
        background-color: transparent;
        border: 3px solid var(--button-item-color);
    }

    ul.button-footer-social li {
        padding: 1px !important;
        margin: 1px !important;
        font-size: 10px !important;
        cursor: pointer;
    }
}

/* ------------------ Fine NavBar dell'header.blade.php ------------------ */


/* ------------------ Sezione footer del file footer.blade.php ------------------ */
footer {
    height: auto;
    background-image: url("/resources/img/footer-bg.jpg");
    opacity: 0.95;
    // height: 500px;
    background-repeat: round;
}

footer .container .row {
    color: white;
}

footer ul li {
    list-style-type: none;
    color: #959595;
}

footer .container .row p {
    margin-top: 50px;
    font-size: 20px;
    text-transform: uppercase;
}

ul {
    padding: 0;
}

footer .container .row .col p {
    text-transform: uppercase;
}

.container-dc-image {
    position: relative;
    max-width: auto;
    max-height: auto;
}

.dc-image {
    position: absolute;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: -100;
}

.container-footer-up {
    padding: 0 30px;
}

.footer-up {
    background-color: var(--button-item-color);
    height: 110px;
}

.footer-up-ul-class {
    margin: 30px;
    text-align: center;
}

.footer-up-ul-class li {
    padding: 0 50px;
}

.footer-up-ul-class li img {
    max-width: 50px;
    max-height: 50px;
}

.footer-up-ul-class li span{
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    margin-left: 5px;
}




.footer-down {
    background-color: var(--footer-color);
    height: 100px;
}

.button-footer-down {
    text-transform: uppercase;
    color: white;
    font-size: 16;
    font-weight: bold;
    margin: 30px 0;
    padding: 10px 20px;
    background-color: transparent;
    border: 3px solid var(--button-item-color);
}

.button-footer-down:hover {
    opacity: 0.5;
    color: var(--button-item-color);
}

.button-footer-social {
    text-transform: uppercase;
    color: var(--button-item-color);
    padding: 10 30;
    margin: 0;
}

ul.button-footer-social li {
    padding: 10px;
    text-align: center;
    color: var(--button-item-color);
    font-size: 16;
    cursor: pointer;
}

ul.button-footer-social li:hover {
    opacity: 0.5;
}